name: Pre-commit auto-update

on:
  schedule:
    - cron: "0 1 * * 1"  # runs at 01:00 UTC on Mondays
  # on demand
  workflow_dispatch:

jobs:
  auto-update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout full history
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Update pre-commit
        run: |
          pip install -e .
          pre-commit autoupdate

      - name: Create the PR pushing the changes
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676
        if: always()
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: update-pre-commit-hooks
          title: Update pre-commit hooks
          commit-message: "GHA: update pre-commit hooks"
          body: Update versions of pre-commit hooks to latest version.
          committer: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>
          reviewers: volpatto
